#videos-list {
    text-align: center;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#videos-list.fade-out {
    opacity: 0;
    transition: none;
}

.video-title-group {
    font-size: 14px;
}

.video-title {
    float: left;
    margin-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.video-title-icons {
    float: right;
    margin-right: 5px
}

.video-tile-in-list {
    margin: 10px;
    display: inline-block
}
